<mat-sidenav-container class='sidenavcontainer' hasBackdrop="false">
  <div style="margin-top: 1%;">
    <button mat-raised-button color='primary' style='float: right;' (click)="toggleDrawer(drawer)">Create Role</button>
    <h1>Roles</h1>
  </div>
  <div *ngFor="let item of roles; let i = index">
    <mat-card style="margin-top: 2%">
      <mat-card-title>{{item.sRoleName}}
        <button class="edit" mat-raised-button [matMenuTriggerFor]="menu">
          <mat-icon>toc</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button (click)='editRole(item._id, item.sRoleName, item.sParent, drawer)' mat-menu-item>
            <mat-icon>create</mat-icon> Edit Role
          </button>
          <button (click)='deleteRole(item._id)' mat-menu-item>
            <mat-icon>delete</mat-icon> Delete Role
          </button>
        </mat-menu>
      </mat-card-title>
      <mat-card-subtitle>
        {{ item.sPermissions }}

      </mat-card-subtitle>
    </mat-card>
  </div>

  <mat-sidenav class="sidenav" #drawer mode="over" position='end'>
    <div style="margin-top: 3%;">
      <button mat-raised-button color='primary' (click)='createRole()' style='float: right;'>{{task}}</button>
      <button style="float: left;" type="button" mat-button (click)='clearData(toggler)'>
        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="feather feather-x-circle">
          <circle cx="12" cy="12" r="10"></circle>
          <line x1="15" y1="9" x2="9" y2="15"></line>
          <line x1="9" y1="9" x2="15" y2="15"></line>
        </svg>
      </button>
      <h1 style="margin-top: 2%;">{{ this.task }} Role</h1>
    </div>
    <form class="example-form" [formGroup]='roleAssignform'>
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input type="text" matInput formControlName="sRoleName">
        <mat-hint>Name is required</mat-hint>
      </mat-form-field>
      <mat-error
        *ngIf="(this.roleAssignform.controls.sRoleName.errors?.required && this.roleAssignform.controls.sRoleName.dirty) || this.submit">
        This Field is required</mat-error>
      <mat-form-field style="margin-top: 3%;" appearance="fill">
        <mat-label>Select Parent Role</mat-label>
        <mat-select (selectionChange)='getSelectedOptions(selectedParent)' [(value)]='selectedParent'>
          <mat-option>No Selection</mat-option>
          <mat-option *ngFor="let role of roles" [value]='role.sRoleName'>
            {{ role.sRoleName }}
          </mat-option>
        </mat-select>
        <mat-hint>Extract Parent Role</mat-hint>
      </mat-form-field>
      <br><br>
      <div>
        <label><strong>Make this role default? </strong></label>
        <br>
        <mat-radio-group formControlName='sDefaultRole'>
          <mat-radio-button value="yes">Yes </mat-radio-button>
          &nbsp; &nbsp; &nbsp;
          <mat-radio-button value="no">No </mat-radio-button>
        </mat-radio-group>
      </div>
      <br>
      <mat-tab-group>
        <mat-tab formArrayName='sPermissions' label="Admin">
          <div *ngFor="let d of options$.saAdmin; let i=index">
            <mat-checkbox (change)='valueChange()' [formControlName]='i' class="example-margin" aria-label="addcard">
              <strong>{{ d }}</strong>
            </mat-checkbox><br>
          </div><br>
          <button type="button" mat-raised-button (click)="addaPermissions()">Add admin permission</button>
        </mat-tab>
        <mat-tab formArrayName='sPermissions' label="Content">
          <div *ngFor="let d of options$.saContent; let j=index">
            <mat-checkbox (change)='valueChange()' [formControlName]='j + options$.saAdmin.length'
              class="example-margin">
              <strong>{{ d }} </strong></mat-checkbox><br>
          </div><br>
          <button type="button" mat-raised-button (click)="addcPermissions()">Add content permission</button>
        </mat-tab>
      </mat-tab-group>
    </form>
  </mat-sidenav>
</mat-sidenav-container>
